.desktop-stub {
    font-family: Arial, sans-serif;
    background-color:#091929;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.desktop-stub img{
    display: flex;
    width: 100%; /* Адаптивная ширина SVG */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.divimg {
    display: flex;
    text-align: center;
    padding: 10px;
    max-width: 400px;
    width: 75%;
    flex-direction: column;
    align-items: center;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 350px; /* Максимальная ширина SVG */
    margin-bottom: 10px;
    flex-direction: column;
}
.aconteiner {
    display: flex;
    width: 75%;
    max-width: 445px;
    height: auto;
    justify-content: center;
}
.aconteiner a{
    max-width: 50%;
}