.maindiv{
    font-family: Arial, sans-serif;
    background-color:#091929;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    display: none;
}
.div-title{
    display: flex;
    justify-content: space-around;
    margin-bottom:1%;
}
.text-container{
    display: flex;
    min-width: 50%;    
    max-width: 70%;
}

.divimg {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    max-width: 400px;
    min-width: 320px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    
    
    padding-left: 5%;
    padding-right: 5%;    
    flex-direction: column;
}

.aconteiner{
    display: flex;
    max-width: 40%;
    min-width: 256PX;
    justify-content: space-around;
    padding-bottom:2%;
    margin-left: 10%;
    margin-right: 10%;
}

.social-img{
    height: 64px;
    width: 64px; 
}
.img-link {
    box-shadow: inset 0px 1px 3px 0px #9fb4f2;
    border-radius: 100%;
    border: 3px solid #1c89bf; /* Added 'solid' to the border */
    display: flex !important;
    cursor: pointer;
    color: #ffffff;
}

.img-link:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.img-link:active {
    position: relative;
    top: 1px;
}


/* Styles for wep app swiping down */
.mobile-body {
    overflow: hidden;
    height: 100vh;
}

.mobile-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: red;
}

.mobile-content {
    height: calc(100% + 1px);
    background: green;
}